@font-face {
  font-family: 'Trade Gothic';
  src: url('/assets/fonts/TradeGothicBoldCondensedNo20.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Trade Gothic', sans-serif;
  font-weight: 700;
}
