@font-face {
  font-family: 'Centra No1';
  src: url('/assets/fonts/CentraNo1-Book.woff2') format('woff2'),
       url('/assets/fonts/CentraNo1-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Centra No1';
  src: url('/assets/fonts/CentraNo1-Bold.woff2') format('woff2'),
       url('/assets/fonts/CentraNo1-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Centra No1', sans-serif;
}
